.footer__copyright {
  width: 318px;
  font-family: "Inter";
  font-style: normal;
  font-size: 18px;
  line-height: 1.22;
  color: #545454;
  padding-top: 68px;
  padding-left: 200px;
}

@media screen and (min-width: 320px) {
  .footer__text {
    font-size: 14px;
    width: 282px;
    line-height: 1.17;
    padding-top: 50px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    text-align: center;
    padding: 10px;
  }

  .footer__text {
    font-size: 0.875rem;
    line-height: 1.2rem;
  }
}
