.form {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  animation: fadeIn 1s;
  z-index: 9999;
  border: none;
}

.modal-content__name, .modal-content__text {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px;
  background: transparent;
  color: black;
}

.modal-content {
  position: relative;
  background-color: #fff;
  width: 26.875rem;
  padding-left: 36px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.addModal {
  background-color: #fff;
  width: 26.875rem;
  padding-left: 36px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.overlay {
  position: fixed;
  z-index: 9998;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.form.show-modal + .overlay {
  display: block;
}

.modal-content__title {
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin: 0;
  padding-top: 34px;
}

.modal-content__name {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-top: 54px;
}

.modal-content__text {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-top: 29px;
}

.modal-content__line {
  width: 22.375rem;
  opacity: 0.8;
  transition: border-color 0.3s ease-in-out;
}

input,
textarea,
button,
select {
  border: none;
  outline: none;
}

.close {
  color: #ffffff;
  float: right;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  bottom: 360px;
  left: 430px;
  cursor: pointer;
}

.edit-profile-close {
  position: absolute;
  top: -30px;
  right: -40px;
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  z-index: 1000;
}

.edit-profile-close:hover {
  color: #aaaaaa;
  opacity: 0.8;
}

.close:hover,
.close:focus {
  color: #aaaaaa;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
}

.modal-content__button {
  width: 358px;
  height: 50px;
  background: #000000;
  border-radius: 2px;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  margin-top: 48px;
  margin-bottom: 30px;
}

.modal-content__button:hover {
  opacity: 0.5;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 320px) {
  .modal-content,
  .addModal {
    width: 17.625rem;
    padding-left: 22px;
  }

  .modal-content__title {
    font-size: 18px;
    line-height: 21.78px;
    padding-top: 25px;
  }

  .modal-content__name {
    font-size: 14px;
    line-height: 16.94px;
    padding-top: 76px;
  }

  .modal-content__text {
    font-size: 14px;
    line-height: 16.94px;
    padding-top: 30px;
  }

  .modal-content__line {
    width: 14.875rem;
  }

  .modal-content__button {
    width: 14.875rem;
    height: 2.875rem;
    font-size: 14px;
    margin-top: 46px;
    margin-bottom: 25px;
  }
  .close {
    bottom: 350px;
    left: 270px;
    font-size: 30px;
  }
}

input:invalid:focus + .modal-content__line {
  border-bottom: 1px solid red;
}

input:valid + .modal-content__line {
  border-bottom: 1px solid #ccc;
}

.error-message {
  display: none;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  color: red;
  margin-top: 5px;
  position: relative;
}

input:invalid:focus + .modal-content__line + .error-message {
  display: block;
}

.popup__error_visible {
  display: block 
}

.modal_opened {
  display: flex;
}

.open {
  display: flex;
}
